/*
	* Author: Cornelius Shava
	* Organisation: Haosel Kenya
	* Date: 27/07/2025
	* last modified: 02/10/2025
	* Time: 12:22
	* Email: corygprod@duck.com
	* File: coryG_UIOps.css
*/

/*
	* NOTE:
		this contains code required for the coryG_UIOps.js to work and display items correctly
		in case you want to add new styles either create a new css file or edit the coryG_base.css file
*/

.showup{
	position: relative;
	animation: opac 1.3s ease-out,animatebottom 0.9s ease-out;
}

.heightguy{
	position: absolute;
	opacity: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.upbtn{
	position: fixed;
	top: 80vh;
	right: 0 !important;
	width: auto;
	padding: 45px 50px;
	opacity: 0;
	translate: 0 15vh;
	z-index: 25;
}
.upbtn.showme{
	opacity: 1;
	translate: 0 0;
}
.upbtn .cap {
	opacity: 0;
	display: inline-block;
	translate: 150px 0;
	pointer-events: none;
}
.upbtn:hover .cap{
	opacity: 1;
	translate: 0 0;
}

.showme{
	display: block !important;
}

.halfopac{
	/*opacity: 0.3;*/
	visibility: hidden;
}
.hidetop{
	translate: 0 -12px;
	opacity: 0;
	pointer-events: none;
}

/* sidebar */
	.overlay{
		position:fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000000aa;
		z-index: 25;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		overflow: auto;
	}
	.overlay .closebtn{
		font-size: 2rem;
	}
	.overlay .sidebar{
		background: var(--clr-panelbg);
		padding: 48px 0;
		width: 96%;
		max-width: 400px;
		min-height: 100vh;
		font-size: 1.7rem;
		color: var(--clr-text);
	}
	.overlay .sidebar a{
		padding: var(--size-sm);
		display: block;
	}
	.overlay .sidebar a:hover{
		color: var(--themecolor);
	}

	.hidetop{
		pointer-events: none;
	}

	[data-shown=0]{display: none;}